@use 'variables' as *;

#comics_index { 

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 1rem;
    }
    
    .card_body {
      background-color: blue;
      // flex-basis: 25%;
      // margin: 0 5px 5px 0;
    }

}


