@use 'variables' as *;

#comics_index { 

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 1rem;
    }

    .card_header {
      img {
        width: 100px;
      }
    }
    
    .card_body {
      width: 300px;
    }

}


