@use 'variables' as *;

.img_jumbo {
    margin-top: -270px;
    margin-left: 250px;
}

.blue_line {
    background-color: $comics_primary;
    height: 40px;
    margin-top: -30px;
    margin-bottom: 40px;
}

.show_comics{
    padding-left: 10%;
    padding-right: 10%;
}

.info {
    background-color:rgb(252, 247, 247);
    height: 300px;
    padding-left: 17%;
    padding-right: 17%;
}